<h1>My <%=@instance.class.name%></h1>



<label>Name: <%=@instance.name%> </label>
<br>
<label>Biography:</label>
<br>
<p> <%=@instance.bio%></p>
<label>Genres:</label>
<ul>
<br>
<%= form_for(@instance, url: edit_artist_path(@instance), method: :get) do |f| %>
<%= f.submit "Edit #{@instance.class.name}"%>
<% end %>
<br>
<%= form_for(@instance, url: artist_path(@instance), method: :delete) do |f| %>
<%= f.submit "Delete #{@instance.class.name}"%>
<% end %>
<br>
<%= form_for(@instance, url: artists_path, method: :get) do |f| %>
<%= f.submit "Return to #{@instance.class.name.pluralize(2)}"%>
<% end %>
<br>

<%@instance.genres.uniq.each { |genre|%>
  <li>
  <label><%=genre.name%></label>
  </li>
<%}%>
</ul>
<br>
<label>Songs:</label>
<ul>
<%@instance.songs.each { |song|%>
  <li>
  <label><%=song.name%></label>
  </li>
<%}%>
</ul>